<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Tasklist</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<!--Task fields: (id), name, email, assignment, localDateString(str)-->
	<!--Priority fields: (priorityId), priorityValue-->
	<!--Status fields: (statusId), statusName-->
	<!-- !!! TBA - TaskDate fields: (taskDateId), localDate  !!! -->

	<h1>Add task</h1>
	<div>
		<form th:object="${task}" th:action="@{save}" action="#" method="post">
			<label for="name">Name</label>
			<input type="text" id="name" th:field="*{name}" />
			<div style="clear: both; display: block; height: 10px;"></div>

			<label for="email">Email</label>
			<input type="text" id="email" th:field="*{email}" />
			<div style="clear: both; display: block; height: 10px;"></div>

			<label for="assignment">Task</label>
			<input type="text" id="assignment" th:field="*{assignment}" />
			<div style="clear: both; display: block; height: 10px;"></div>

			<label for="localDateString">Deadline</label>
			<input type="text" id="localDateString" th:field="*{localDateString}" />
			<div style="clear: both; display: block; height: 10px;"></div>

			<label for="priolist">Priority</label>
			<select id="priolist" th:field="*{taskPriority}" class="form-control">
				<option th:each="priority: ${priorities}" th:value="${priority.priorityId}" th:text="${priority.priorityValue}">
				</option>
			</select>
			<div style="clear: both; display: block; height: 10px;"></div>

			<label for="statlist">Status</label>
			<select id="statlist" th:field="*{taskStatus}" class="form-control">
				<option th:each="status: ${statuses}" th:value="${status.statusId}" th:text="${status.statusName}">
				</option>
			</select>
			<div style="clear: both; display: block; height: 10px;"></div>

			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>

</html>