<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<title>Tasklist</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
	<div class="container">

		<div class="col-md-4">
			<h1>Tasks</h1>
		</div>

		<!--Show authenticated username-->
		<div class="col-md-4">
			<span sec:authentication="name">Name</span>
		</div>

		<!--Logout-->
		<div class="col-md-4" style="padding:20px 0">
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" class="btn btn-sm btn-danger" />
			</form>
		</div>

		<!--Task fields: (id), name, email, assignment, localDateString-->
		<!--TaskPriority fields: (priorityId), priorityValue-->
		<!--TaskStatus fields: (statusId), statusName-->
		<!--TBA - TaskDate fields: (taskDateId), deadline-->
		
		<!--Display tasklist table-->
		<table class="table table-striped">
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Task</th>
				<th>Deadline</th>
				<th>Priority</th>
				<th>Status</th>
				<th sec:authorize="hasAuthority('ADMIN')"> </th>
				<th sec:authorize="hasAuthority('ADMIN')"> </th>
				<th sec:authorize="hasAuthority('USER')"> </th>
			</tr>
			<tr th:each="task : ${tasks}">
				<td th:text="${task.name}"></td>
				<td th:text="${task.email}"></td>
				<td th:text="${task.assignment}"></td>
				<td th:text="${#temporals.format(task.taskDate.deadline, 'yyyy-MM-dd')}">
				<td th:text="${task.taskPriority.priorityValue}"></td>
				<td th:text="${task.taskStatus.statusName}"></td>

				<!--Show buttons only for ADMIN user role-->
				<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${task.id})}"
						class="btn btn-xs btn-danger">Delete</a></td>
				<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${task.id})}"
						class="btn btn-xs btn-primary">Edit</a></td>

				<!--Show button only for USER user role-->
				<td sec:authorize="hasAuthority('USER')"><a th:href="@{/editStatus/{id}(id=${task.id})}"
						class="btn btn-xs btn-primary">Edit Status</a></td>
			</tr>
		</table>

		<!--Show button only to ADMIN user role-->
		<div sec:authorize="hasAuthority('ADMIN')">
			<a href="/add" class="btn btn-success">Add Task</a>
		</div>

	</div>
</body>

</html>